@import 'mixins';

#addPackageForm{
  position: absolute;
  left: 0px;
  z-index: 2;
  box-sizing: border-box;
  padding: 1em;
  width: 300px;
  background-color: $addPackageFormBackground;
  box-shadow: $addPackageFormShadow;
  transition: .3s;
  transform: translateY(-100%);

  &.hidden{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-150%);
  }

  .controls-wrapper{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    input[type=text]{
      margin-bottom: 1em;
      padding: 1em;
      width: 100%;
      border: 1px solid $white;
      border-radius: 0px;
    }

    button{
      padding: 1em 2em;
      border: 1px solid $white;
      border-radius: 0px;
      color:$white;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: .3s;

      @include buttonHover();
    }
  }
}
