section#projectPage{
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 100%;
  width: 100%;
  background-color: rgba($white, 1);
  color: $dark;

  // justify-content: center;

  .project-info{
    display: inherit;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1em;

    justify-content: space-around;
    align-items: flex-start;

    h1{
      margin: 0px;
      padding: 0px;
      width:100%;
    }

    .version, .author{
      margin: 0 1em;
      color:rgba($dark, .5);
    }
    .author{
      font-weight: bold;
    }
  }
}
