@mixin buttonHover(){
  background-color: $buttonBackground;
  color: $buttonColor;
  cursor: pointer;
  transition: .3s;

  &:hover{
    background-color: $buttonHoverbackground;
    color:$buttonHoverColor;
  }
}
