nav{
  display: flex;
  flex-direction: column;
  min-width: 300px;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  input[type="file"]{
    display: none;
    visibility: hidden;

    & + label{
      display: inherit;
      padding: 1em 0;
      width: 100%;
      background-color: $gray;
      color:$accent;
      cursor: default;
      transition: .3s;

      justify-content: center;
      align-items: center;

      &:hover{
        box-shadow: 0 -3px 0 $accent inset;
      }
    }
  }
}
