@import 'mixins';

section#packagesList{
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 1em auto 0 auto;
  padding: 0 1em;
  max-width: 600px;
  width: 100%;

  justify-content: space-around;
  flex-wrap: wrap;

  .add-package{
    box-sizing: border-box;
    margin: .5em 0;
    padding: 2em;
    min-width: 250px;
    max-width: 300px;
    width: 45%;
    border: 1px solid $dark;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    @include buttonHover();
  }

  .dependency{
    position: relative;
    box-sizing: border-box;
    margin: .5em 0;
    padding: 2em;
    min-width: 250px;
    max-width: 300px;
    width: 45%;
    background-color: $dependencyBackground;
    box-shadow: $dependencyShadow;
    color: $dependencyColor;

    &.dev{
      background-color: $dev_dependencyBackground;
      color: $dev_dependencyColor;

      .version{
        color: $white;
      }

      .delete{
        background-image: url('../imgs/bin_white.png');
      }
    }

    &:hover{
      .version{
        font-size: .8em;
        opacity: .8;
      }
      .delete{
        visibility: visible;
        opacity: 1;
      }
    }

    .version{
      margin: 0 1em;
      font-size: 0em;
      opacity: 0;
      transition: .3s;
    }
    .delete{
      position: absolute;
      top:50%;
      right: 10px;
      visibility: hidden;
      width: 16px;
      height: 16px;
      border: none;
      background-color: transparent;
      background-image: url('../imgs/bin.png');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      cursor: pointer;
      transition: .3s;
      transform: translate(0, -50%);
    }
  }
}
