@import 'variables';
@import 'header';
@import 'navBar';
@import 'mainSection';
@import 'packagesList';

window{
  overflow: hidden;
}

body, html{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  max-height: 100vh;
  // background-color: rgba($white, .7);
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  *{
    cursor: default;
  }
}

#application{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;

  justify-content: space-between;
  align-items: stretch;
}
